@import 'tailwindcss';
@source "src";
@source "web";
@source "templates";

@font-face {
  font-family: "Fixedsys500c";
  src: url("./Fixedsys500c.woff");
}
@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] { display: none !important; }

@theme {
  --font-sys500: Fixedsys500c, "Lucida Console", "Lucida Sans Typewriter", Consolas, monospace;
}

